@import "variables.scss";
@import "mixins.scss";
@import "base-styles.scss";

.copy-right {
  position: fixed;
  bottom: 0;
}

.admin-panel {
	height: calc(100vh - 95px);
  padding-bottom: 60px;
  overflow-y: auto;
  h3 {
    margin: 40px 0;
  }
	.tab-content {
		display: block !important;
		padding: 50px 15px 15px;
		border: 1px solid #e1e1e1;
		border-top: none;
		td {
			vertical-align: middle;
			img {
				width: 100px;
				height: 50px;
				object-fit: contain;
			}
		}
	}
}

.welcome-user{
	background: $light-gray;
	padding: 10px;
}