$gray: #706f6f;
$white: #fff;
$green: #79b833;
$light-gray: #e1e1e1;
$social: rgba(17, 47, 74, 0.5);
$pink: #db4f71;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
  color: $gray;
}
.no-padding {
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-moz-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
::-moz-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-moz-scrollbar-thumb:hover {
  background: #555;
}
section {
  &.header {
    height: 100vh;
  }
}

.banner-container {
  .owl-dots {
    width: 65%;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    .owl-dot {
      width: 10px;
      height: 10px;
      background: $pink;
      display: inline-block;
      margin: 0 5px;
      &.active {
        background: $white;
      }
    }
  }
}
.left-bar-fixed {
  background: $white;
  height: 100vh;
  position: fixed;
  top: 0;
  .logo {
    max-width: 70%;
    margin: 30px auto 0;
  }
  .social-icons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    a {
      color: $social;
      &:hover {
        color: rgba($social, 1);
      }
    }
    i {
      margin: 0 5px;
      font-size: 2rem;
    }
  }
}
.main-nav {
  position: sticky;
  top: 0;
  height: 100%;
  background: #fff;
  left: 0;
  margin-top: 100px;
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        padding: 8px 0;
        width: 100%;
        color: $gray;
        display: inline-block;
        font-weight: 600;
        outline: 0;
        &:hover,
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}
