@import "variables.scss";
@import "mixins.scss";
@import "base-styles.scss";

section {
  &.header {
    height: 100vh;
  }
}

.banner-form {
  overflow: hidden;
  .owl-item {
    img {
      max-height: 100vh;
      object-fit: cover;
    }
  }
  .second-menu {
    margin: 10px 0;
    li {
      list-style: none;
      display: inline-block;
      a {
        color: $medium-gray;
        font-family: "Gotham-Book", sans-serif;
        font-weight: 600;
        font-size: 12px;
        @include transition($base-speed);
        &:hover {
          @include transition($base-speed);
          color: $white;
        }
      }
    }
  }

  .banner-container {
    overflow: hidden;
    &:after {
      @include triangle-right($dark-blue, 200px, -100px);
    }
    &:before {
      @include triangle-left($white, 150px, -75px);
    }
    .owl-dots {
      width: 100%;
      height: 20px;
      text-align: center;
      position: absolute;
      bottom: 15px;
      .owl-dot {
        width: 10px;
        height: 10px;
        background: $pink;
        display: inline-block;
        margin: 0 5px;
        &.active {
          background: $white;
        }
      }
    }
  }
  .home-form-container {
    height: 100vh;
    background: $dark-blue;
    overflow: hidden;
    &:after {
      @include triangle-right($light-gray, 150px, -75px);
    }
  }
}

.left-bar-fixed {
  background: $white;
  height: 100vh;
  position: fixed;
  top: 0;
  .logo {
    max-width: 70%;
    margin: 30px auto 0;
  }
  .social-icons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    a {
      color: $social;
      @include transition($base-speed);
      &:hover {
        color: rgba($social, 1);
        @include transition($base-speed);
      }
    }
    i {
      margin: 0 5px;
      font-size: 2rem;
    }
  }
  .main-nav {
    height: 100%;
    margin-top: 100px;
    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          padding: 8px 0;
          width: 100%;
          color: $gray;
          display: inline-block;
          outline: 0;
          @include transition($base-speed);
          &:hover,
          &:active {
            text-decoration: none;
            color: $dark-blue;
            @include transition($base-speed);
          }
        }
      }
    }
  }
}

.trained-skill {
  background: $light-gray;
  padding: 50px 0 30px;
  overflow: hidden;
  h3 {
    color: $dark-blue;
    font-family: "Gotham-Medium", sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-left: 30px;
    letter-spacing: -1.2px;
  }
  p {
    font-family: "Gotham-Book", sans-serif;
    font-size: 1.65rem;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 3rem;
  }
  img {
    margin-bottom: 20px;
    max-width: 90%;
  }
}
.home-courses {
  overflow: hidden;
  @include side-intro($green, 700px, $light-gray, $white, $green);
  .course-cards {
    >div {
      overflow: hidden;
      &:nth-child(1){
        article{
          @include card-container($card-blue, "../img/banner/banner1.jpg", $white);
          overflow: hidden;
        }
      }
      &:nth-child(2){
        article{
          @include card-container($card-pink, "../img/banner/banner2.jpg", $white);
          overflow: hidden;
        }
      }
      &:nth-child(3){
        article{
          @include card-container($card-pink, "../img/banner/banner3.jpg", $white);
          overflow: hidden;
        }
      }
      &:nth-child(4){
        article{
          @include card-container($card-blue, "../img/banner/banner4.jpg", $white);
          overflow: hidden;
        }
      }
    }
    
  }
}

.home-blog {
  overflow: hidden;
  @include side-intro($card-blue, 350px, transparent, $white, $card-blue);
  .course-cards {
    >div {
      overflow: hidden;
      &:nth-child(1){
        article{
          @include card-container($green, "../img/banner/banner1.jpg", $white);
          overflow: hidden;
        }
      }
      &:nth-child(2){
        article{
          @include card-container($card-pink, "../img/banner/banner2.jpg", $white);
          overflow: hidden;
        }
      }
    }
  }
}

.home-news {
  overflow: hidden;
  @include side-intro($yellow, 350px, transparent, $dark-blue, $yellow);
  .course-cards {
    >div {
      overflow: hidden;
      &:nth-child(1){
        article{
          @include card-container($card-blue, "../img/banner/banner1.jpg", $white);
          overflow: hidden;
        }
      }
      &:nth-child(2){
        article{
          @include card-container($green, "../img/banner/banner2.jpg", $white);
          overflow: hidden;
        }
      }
    }
  }
}

.home-powerhouse{
  max-height: 385px;
  overflow: hidden;
  .power-house-img {
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      border-bottom: 20px solid transparent;
      border-right: 25px solid $light-gray;;
      height: 20%;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      width: 25px;
      border-top: 20px solid transparent;
      border-right: 25px solid $light-gray;;
      height: 80%;
    }
  }
  .power-house-cont{
    padding: 45px 20px;
    height: 385px;
    background: $light-gray;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 30px;
      width: 80px;
      right: 30px;
      background: url(../img/testimonial-quote.png) no-repeat;
      height: 80px;
      background-size: cover;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 30px;
      width: 80px;
      left: 20px;
      background: url(../img/testimonial-quote.png) no-repeat;
      height: 80px;
      background-size: cover;
      @include transform(rotateY(180deg));
    }

    h3 {
      font-family: "Gotham-Medium", sans-serif;
      color: $dark-blue;
      font-size: 3rem;
    }
    p {
      font-family: "Gotham-Light", sans-serif;
      font-size: 1.65rem;
      color: $dark-blue;
      letter-spacing: -0.5px;
      width: 80%;
      margin-top: 30px;
    }
    h6 {
      font-family: "Gotham-Book", sans-serif;
      color: $medium-gray;
      font-weight: 100;
    }
  }
}
