@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin triangle-right($color, $size, $position) {
  content: "";
  position: absolute;
  right: $position;
  bottom: $position;
  background: $color;
  width: $size;
  height: $size;
  z-index: 99;
  @include transform(rotate(45deg));
}
@mixin triangle-left($color, $size, $position) {
  content: "";
  position: absolute;
  left: $position;
  top: $position;
  background: $color;
  width: $size;
  height: $size;
  z-index: 99;
  @include transform(rotate(45deg));
}

@mixin placeholder($value) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $value;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $value;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $value;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $value;
  }
  &::placeholder {
    color: $value;
  }
}

@mixin side-intro($bg, $height, $tri, $fcol, $btncol) {
    .name-cont {
      background: $bg;
      color: $fcol;
      height: $height;
      box-sizing: border-box;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      &:before {
        @include triangle-left($tri, 150px, -75px);
      }
      h3 {
        font-family: "Gotham Medium", sans-serif;
        font-size: 2.5rem;
        color: $fcol;
        margin-top:20px;
      }
      p{
        font-family: "Gotham Book", sans-serif;
        color: $fcol;
        max-width: 75%;
        margin-top: 20px;
      }
      img {
        max-width: 80px;
      }
      button {
        @include btn($btncol, $fcol, 15px, 20px, 300);
      }
    }
  }

  @mixin card-container($bg, $bgimg, $fcol) {
    width : 100%;
    height: 400px;
    background: url($bgimg);
    background-size: cover;
    display: flex;
    align-items: center;
    color: $fcol;
    padding: 30px;
    cursor: pointer;
    
    h4{
      color: $fcol;
      z-index: 99;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3.5rem;
    }
    h5{
      color: $fcol;
      z-index: 99;
      position: relative;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 2.5rem;
      max-width: 85%;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 10px solid transparent;
      @include transition($base-speed);
    }
    &:before {
      position:  absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($bg, .6);
    }
    span{
      &.arrow {
        position: absolute;
        right: -50px;
        bottom: -50px;
        background: $fcol;
        width: 100px;
        height: 100px;
        z-index: 99;
        @include transform(rotate(45deg));
        @include transition($base-speed);
      }
      em {
        font-style: normal;
        @include transform(rotate(-45deg));
        color: $bg;
        display: inline-block;
        left: 10px;
        top: 40px;
        position: absolute;
        @include transition($base-speed);
      }
    }
    &:hover {
      &:after {
        border: 10px solid $bg;
        @include transition($base-speed);
      }
      span {
        &.arrow {
          background: $bg;
          @include transition($base-speed);
          em {
            color: $fcol;
            @include transition($base-speed);
          }
        }
      }
    }
  }

  @mixin btn($col, $bg, $padding, $margin, $fw){
      color: $col;
      background: $bg;
      padding: $padding 20px;
      @include border-radius(0);
      line-height: 1rem;
      margin-top: $margin;
      font-family: "Gotham-Medium", sans-serif;
      border: 0;
      font-weight: $fw !important;
  }