//Basic Colors
$gray: #706f6f;
$light-gray: #ECECEC;
$medium-gray: #b2b2b2;
$white: #fff;
$social: rgba(17, 47, 74, 0.5);
$pink: #db4f71;
$dark-blue: #112f4a;
$yellow: #fff000;
$form-gray: #626262;

//Transition Speeds
$base-speed: 0.3s;
